.email-index {
    padding: 10px;
}

.email-index .layout {
    display: grid;
    grid-template-columns: 200px minmax(450px, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "c f"
        "a m";
    gap: 10px;
}

.email-index .filter {
    grid-area: f;

    display: grid;
    align-items: center;
}

.email-index .main {
    grid-area: m;
}

.email-index .aside {
    grid-area: a;
}

.email-index .btn-compose {
    grid-area: c;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    padding: 10px;
    background-color:lightblue;
    border: none;
    border-radius: 10px;
    font-size: large;
}

.email-index .btn-compose img{
    height: 30px;
}