.email-index {
    background-color:ghostwhite;
    margin: 0;
    min-height: 100%;
    bottom: 0;
    padding: 10px;
    min-height: 85vh;
}

.email-index .left,
.email-index .right {
    display: inline-block;
}

.email-index .left {
    width: 30%;
    float: left;
}

.email-index .right {
    width: 70%;
    float: right;
}

.email-index .btn-compose {
    padding: 10px;
    background-color:lightblue;
    border: 0;
    border-radius: 10px;
}

.email-index .btn-compose img{
    height: 20px;
}