$primary-color: ghostwhite;
$fill-in-color: white;

$email-border-color: darken($fill-in-color, 50%);

$selected-menu-color: lightsteelblue;

$subject-txt-color: black;
$draft-txt-color: red;
$body-txt-color: rgb(70, 70, 70);

$sucsess-msg-bgcolor: rgb(13, 10, 21);
$sucsess-msg-color: white;
$error-msg-bgcolor: indianred;
$error-msg-color: black;