.email-index {
    padding: 10px;

    & .layout {
        display: grid;
        grid-template-columns: minmax(150px, 200px) minmax(400px, 1fr);
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "c f"
            "a f"
            "a m";
        gap: 10px;
    }

    & .filter {
        grid-area: f;
    
        display: grid;
        align-items: center;
    }

    & .main {
        grid-area: m;
    }

    & .aside {
        grid-area: a;
    }
    
    &  .btn-compose {
        grid-area: c;
    
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    
        padding: 10px;
        background-color:lightblue;
        border: none;
        border-radius: 10px;
        font-size: large;

        & img {
            height: 30px;
        }
    }

    & .btn-hamberger {
        display: none;
    }

}

@media only screen and (max-width: 600px) {

    .email-index {
        & .layout {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows:  auto 1fr;
        grid-template-areas:
            "f f"
            "m m";
        gap: 10px;
    }

        & .filter {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
        }

        & .aside {
            grid-area: 1 / 1 / -1 / 2;
            z-index: 1;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr;
            background-color: $primary-color;

            &.hidden {
                display: none;
            }
        }

        & .btn-hamberger {
            display: block;
            border: none;
            background-color: $primary-color;
        
            & > * {
                margin: -10px;
                font-size: 4em;
            }
        }

        & .btn-compose {
            position: fixed;
            right: 1em;
            bottom: 1em;
        }
    }
    
}