.app-header {
    background-color:cornflowerblue;
    color: white;

}

.app-header section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header .logo {
    flex-grow: 1;
    font-weight: 600;
    height: 50px;
    margin: -5px;
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.app-header .logo img{
    height: 50px;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}