.email-preview {
    display: grid;
    grid-template-columns: 1fr;
}

.email-preview > *{
    display: grid;
    grid-template-columns: 20% 20% 1fr auto;
    align-items: center;
    font-size: medium;
    height: 30px;
}

.email-preview .link:hover {
    text-decoration: none;
}

.email-preview button:hover {
    background: none;
}

.email-preview .head {
    color: black
}

.email-preview .draft {
    color: red
}

.email-preview .body {
    color: rgb(70, 70, 70);
}

.email-preview .bold {
    font-weight: 550;
}

.email-preview .hide-extra-text {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {

    .email-preview > *{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        font-size: medium;
        height: auto;
    }

}