.email-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
}

.email-menu > * {
    height: 30px;
    font-size: medium;
    background-color: var(--base-color);
}

.email-menu > *:hover:not(.selected){
    filter: brightness(90%);
    text-decoration: none;
}

.email-menu .selected {
    background-color: lightsteelblue;
}

.email-menu button {
    border: none;
    background-color: var(--base-color);
    text-align: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.email-menu > *:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    
}
