.email-filter {
    display: grid;
    align-content: center;
    grid-template-columns: minmax(auto, 300px);
    grid-template-rows: auto auto;
}

.email-filter .search-bar-container {
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    border: none;
    border-radius: 20px;
    padding: 6px;
    align-items: center;
}

.email-filter .search-bar-container img {
    margin: 3px;
    height: 20px;
}

.email-filter .search-bar {
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 6px;
    font-size: large;
}

.email-filter .search-bar:focus {
    outline: none;
}
