.user-msg {
    position: absolute;
    left: 10px;
    bottom: 10%;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 5px;
}

.user-msg button {
    background-color: none;
    border: none;
    border-radius: 999px;
}

.user-msg.success {
    background-color: rgb(13, 10, 21);
    color: white;
}

.user-msg.success button {
    height: 25px;
    width: 25px;
    color: white;
    font-weight: 800;
    background-color: rgb(13, 10, 21);
}

.user-msg.success button:hover {
    background-color: rgb(71, 63, 92);
}

.user-msg.error {
    background-color: indianred;
}
